$baseColors: (
  red: #f44336,
  pink: #e91e63,
  purple: #9c27b0,
  deep-purple: #673ab7,
  indigo: #3f51b5,
  blue: #2196f3,
  light-blue: #03a9f4,
  cyan: #00bcd4,
  teal: #009688,
  green: #4caf50,
  light-green: #8bc34a,
  lime: #cddc39,
  yellow: #ffeb3b,
  amber: #ffc107,
  orange: #ff9800,
  deep-orange: #ff5722,
  brown: #795548,
  grey: #9e9e9e,
  blue-grey: #607d8b
);

@function colorMap($baseColors) {
  $colors: ();
  @each $color, $value in $baseColors {
    $maxVar: 36;
    $mid: 10 / 2;
    $dist: $mid - 1;
    $step: $maxVar / $dist;
    @for $i from 1 through $dist {
      $percent: $maxVar - ($step * ($i - 1));
      $darken: (10 - $i);
      $lighten: $i;
      $colors: map-merge(
        $colors,
        (
          #{$color}-#{$lighten}: lighten($value, $percent),
          #{$color}-#{$darken}: darken($value, $percent)
        )
      );
    }
    $colors: map-merge($colors, (#{$color}-0: lighten($value, 38.7)));
    $colors: map-merge($colors, (#{$color}: $value));
  }
  @return $colors;
}
@each $color, $value in colorMap($baseColors) {
  .text-#{$color} {
    color: $value;
  }
  .bg-#{$color} {
    background-color: $value;
  }
}
